.title {
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin: 0px 0 50px 0;
}

.content {
    padding: 0 0 100px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item {
    color: #616265;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 0 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: -webkit-fill-available;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


@media only screen and (max-width: 600px) {
    .gallery {
      text-align: center;
      display: inline;
    }
  }