<div class="about__content">
  <div class="header__image">
    <app-figure text="I am Llama"></app-figure>
  </div>
  <div class="col-md-12 items">
    <h2>Lorem ipsum</h2>
    <p>
      dolor sit amet, consectetur adipisicing elit. Saepe quia obcaecati rem
      voluptatem, temporibus debitis illo corrupti libero itaque deserunt
      repellat exercitationem nobis alias quidem fugiat accusamus assumenda,
      deleniti ratione.
    </p>
  </div>
  <div class="col-md-12 items">
    <h2>Lorem ipsum</h2>
    <p>
      dolor sit amet, consectetur adipisicing elit. Saepe quia obcaecati rem
      voluptatem, temporibus debitis illo corrupti libero itaque deserunt
      repellat exercitationem nobis alias quidem fugiat accusamus assumenda,
      deleniti ratione.
    </p>
  </div>
  <div class="col-md-12 items">
    <h2>Lorem ipsum</h2>
    <p>
      dolor sit amet, consectetur adipisicing elit. Saepe quia obcaecati rem
      voluptatem, temporibus debitis illo corrupti libero itaque deserunt
      repellat exercitationem nobis alias quidem fugiat accusamus assumenda,
      deleniti ratione.
    </p>
  </div>
</div>
