<div class="about__content">
  <div class="header__image">
    <app-figure text="I am Hongzhi"></app-figure>
  </div>
  <div class="col-md-12 items">
    <h2>Who I am</h2>
    <p>
      I am a rising senior and avid programmer with strong analytical, coding and problem solving skills. I am excited about being a front-end engineer in today's web landscape because I think with today's technologies, we can provide better user experience and create more.
    </p>
  </div>
  <div class="col-md-12 items">
    <h2>Why I build the site the way I did</h2>
    <p>
      I want this website to simple, straitforward yet informative. 
      I use Angular as framework because I used it a lot for buidling web applications and it allows me to quickly build a website that is dynamic and interactable.
    </p>
  </div>

</div>
