h2 {
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    text-align: left;
    border-bottom: 1px solid #212121;
    margin-bottom: 13px;
    padding-bottom: 7px;
    letter-spacing: 1px;
}

p {
    color: #616265;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 0 20px 0;
}

.about__content {
    margin: auto;
    margin-top: 20px;
}

.header__image {
    display: flex;
    justify-content: center;
}