.card {
    width: 400px;
    height: 400px;
    padding: 20px;
    border: 1px solid #dbdbdb;
    display: block;
    margin: 20px;
}

.title {
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    text-align: left;
    border-bottom: 1px solid #212121;
    margin-bottom: 33px;
    padding-bottom: 7px;
}

.description {
    color: #616265;
    font-weight: 400;
}

@media only screen and (max-width: 770px) {
    .card {
        width: 100%;
        margin: 20px 0 20px 0;
    }
}